<div class="custom-spacing hero" *ngIf="OurStory?.hero">
  <div class="background-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 custom-col-width">
        <div class="hero-section-wrapper">
          <app-hero-section 
            [titleParts]="OurStory.hero?.titleParts" 
            [subtitleParts]="OurStory.hero?.subtitleParts" 
            [headingTag]="'h1'">
          </app-hero-section>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Story Section -->
<div class="story-section container mt-5" *ngIf="OurStory?.story">
  <div class="row justify-content-center">
    <div class="col-12">
      <app-story-section 
        [imageSrc]="'/assets/sec2-img.jpg'" 
        [textOverImage1]="OurStory.story.textOverImage1"
        [textOverImage1BgColor]="'gradient-bg'" 
        [textOverImage1Color]="'text-white'" 
        [icon1]="'sports_esports'"
        [textOverImage2]="OurStory.story.textOverImage2" 
        [textOverImage2BgColor]="'bg-dark'"
        [textOverImage2Color]="'text-white'" 
        [icon2]="'location_on'" 
        [titleicon]="'favorite'" 
        [iconType]="'material'"
        [titleParts]="OurStory.story.titleParts" 
        [description]="OurStory.story.description" 
        [stats]="getstoryStats()">
      </app-story-section>
    </div>
  </div>
</div>

<!-- Mission & Vission -->
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <app-heading-section iconLeft="" iconLeftType="material" iconLeftColor="" iconRight="" iconRightType="material"
        iconRightColor="" [title]="OurStory.mission?.title" [highlight]="OurStory.mission?.highlight" highlightColor="gradient-text"
        [subtitle]="OurStory.mission?.description">
      </app-heading-section>
    </div>
  </div>
  <div class="row align-items-stretch gy-3">
    <div class="col-12 col-md-6 col-lg-6" *ngFor="let card of getmissionCard()">
      <app-simple-cards [cards]="[card]"></app-simple-cards>
    </div>
  </div>
  <div class="row mt-4 mb-5 pb-4 g-4 d-flex align-items-stretch justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let stat of getmissionStats()">
      <app-stat-card [iconType]="stat.iconType" [icon]="stat.icon" [title]="stat.title" [text]="stat.text"
        [borderColor]="stat.borderColor" [iconBgColor]="stat.iconBgColor" [titleColor]="stat.titleColor"
        [cardBgColor]="stat.cardBgColor">
      </app-stat-card>
    </div>
  </div>
</div>

<!-- Highlights section-->
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <app-heading-section iconLeft="" iconLeftType="material" iconLeftColor="" iconRight="" iconRightType="material"
        iconRightColor="" [title]="OurStory.highlights?.title" [highlight]="OurStory.highlights?.highlight" highlightColor="gradient-text"
        [subtitle]="OurStory.highlights?.description">
      </app-heading-section>
    </div>
  </div>
  <div class="row align-items-stretch gy-4">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let card of gethighlightCards()">
      <app-image-showcase-card [imageSrc]="card.imageSrc" [overlay]="card.overlay" [icon]="card.icon"
        [title]="card.title" [titleClass]="card.titleClass" [text]="card.text"
        [textClass]="card.textClass"></app-image-showcase-card>
    </div>
  </div>
  <div class="text-center pt-5  pb-3">
    <app-info-stat-bar [stats]="gethighlightInfoStats()" [bgColor]="'bg-white'" [shadow]="true">
    </app-info-stat-bar>
  </div>
</div>

<!-- Community section -->
<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <app-heading-section iconLeft="" iconLeftType="material" iconLeftColor="" iconRight="" iconRightType="material"
        iconRightColor="" [title]="OurStory.community?.title" [highlight]="OurStory.community?.highlight" highlightColor="gradient-text"
        [subtitle]="OurStory.community?.subtitle">
      </app-heading-section>
    </div>
  </div>
  <div class="row align-items-stretch gy-5 mt-3 justify-content-center">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let testimonial of gettestimonials()">
      <app-testimonial-card [quote]="testimonial.quote" [showInvertedCommas]="testimonial.showInvertedCommas"
        [rating]="testimonial.rating" [name]="testimonial.name" [role]="testimonial.role"
        [location]="testimonial.location ?? ''" [imageSrc]="testimonial.imageSrc"
        [showCheckIcon]="testimonial.showCheckIcon" [icon]="testimonial.icon" [tag]="testimonial.tag"
        [tagClass]="testimonial.tagClass" [cardClass]="testimonial.cardClass"></app-testimonial-card>
    </div>
  </div>
  <div class="text-center py-5">
    <app-info-stat-bar [stats]="getcommunityInfoStats()" [bgColor]="'bg-white'" [shadow]="true">
    </app-info-stat-bar>
  </div>
</div>

<!-- Media section-->
<div class="media container mb-5">
  <div class="row">
    <div class="col-12">
      <app-heading-section iconLeft="" iconLeftType="material" iconLeftColor="" iconRight="" iconRightType="material"
        iconRightColor="" [title]="OurStory.media?.title" [highlight]="OurStory.media?.highlight" highlightColor="gradient-text"
        [subtitle]="OurStory.media?.subtitle">
      </app-heading-section>
    </div>
  </div>
  <div class="row align-items-stretch gy-4">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let card of getmediaCards()">
      <app-media-card [title]="card.title" [subtitle]="card.subtitle" [date]="card.date"
        [badgeText]="card.badgeText" [badgeClass]="card.badgeClass" [buttonClass]="card.buttonClass"
        [buttonText]="card.buttonText" [buttonIcon]="card.buttonIcon" [iconBgClass]="card.iconBgClass"
        [icon]="card.icon" [iconDotClass]="card.iconDotClass" [image]="card.image"></app-media-card>
    </div>
  </div>
  <div class="text-center my-5">
    <app-cta-section *ngIf="OurStory.media?.cta"
      colClass="col-12" icon="" [titleStart]="OurStory.media.cta?.titleStart" [titleHighlight]="OurStory.media.cta?.titleHighlight"
      [description]="OurStory.media.cta?.description">
      <app-primary-button primaryButton iconLeft="download" class="d-flex justify-content-center mt-2">
        {{OurStory.media.cta?.primaryBtn}}
      </app-primary-button>
      <app-ghost-button ghostButton iconLeft="mail" class="d-flex justify-content-center mt-2">
        {{OurStory.media.cta?.secondaryBtn}}
      </app-ghost-button>
    </app-cta-section>
  </div>
  <div class="row align-items-stretch gy-4 pb-5 justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let card of getmediaStats()">
      <app-stat-card  [iconType]="card.iconType" [icon]="card.icon" [title]="card.title" [text]="card.text"
        [borderColor]="card.borderColor" [iconBgColor]="card.iconBgColor" [titleColor]="card.titleColor"
        [cardBgColor]="card.cardBgColor">
      </app-stat-card>
    </div>
  </div>
</div>

<!-- Experience section-->
<div class="container-fluid w-full py-5 angular-gradient-purple position-relative">
  <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>

  <div class="row justify-content-center py-5 position-relative" style="z-index: 1;">
    <div class="col-11 col-md-10 col-lg-7 col-xl-6 col-xxl-5">
      <app-hero-section [titleParts]="getExperienceTitleParts()" [subtitleParts]="getExperienceSubtitleParts()" [headingTag]="'h2'">
      </app-hero-section>
    </div>
    <div class="container w-full">
      <div class="row hero-buttons justify-content-center align-items-center gap-4 flex-wrap mt-5">
        <div class="col-auto">
          <app-primary-button iconLeft="bi-fork-knife">
            {{OurStory.experience?.primaryBtn}}
          </app-primary-button>
        </div>

        <div class="col-auto">
          <app-ghost-button iconLeft="today">
            {{OurStory.experience?.secondaryBtn}}
          </app-ghost-button>
        </div>
      </div>

      <div class="row mt-5 g-4 d-flex align-items-stretch justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let stat of getCtaStats()">
          <app-stat-card [iconType]="stat.iconType" [icon]="stat.icon" [title]="stat.title" [text]="stat.text"
            [borderColor]="stat.borderColor" [iconBgColor]="stat.iconBgColor" [titleColor]="stat.titleColor"
            [cardBgColor]="stat.cardBgColor" [textColor]="stat.textColor">
          </app-stat-card>
        </div>
      </div>
    </div>
    <div class="text-center pt-5">
      <app-customer-tag [rating]="4.9" [customerCount]="15000" [text1]="OurStory.customerTag.text1" [text2]="OurStory.customerTag.text2"
        [customerImages]="['/assets/testimonial-img1.jpg', '/assets/testimonial-img1.jpg', '/assets/testimonial-img1.jpg', '/assets/testimonial-img1.jpg']">
      </app-customer-tag>
    </div>
  </div>
</div>