<nav id="header" class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/jumanji-logo.png" alt="Jumanji Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons text-white" data-icon="bars">menu</span>
      <span class="material-icons text-white d-none" data-icon="times">close</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="/">Cafe Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Board Game Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Events & News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/our-story">About Jumanji</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">B2B Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Contact Us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <div class="flex bg-secondary text-light rounded-20 d-flex justify-content-center align-items-center"
          style="width: 80px; height: 30px;">
          <span class="nav-link ">EN</span> |
          <span class="nav-link">AR</span>
        </div>
        <span class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px;">
          <i class="bi bi-cart"></i>
        </span>
        <span class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px;">
          <i class="bi bi-search"></i>
        </span>
        <span class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px;">
          <i class="bi bi-person"></i>
        </span>
      </div>
    </div>
  </div>
</nav>