<nav id="header" class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/jumanji-logo.png" alt="Jumanji Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons text-white" data-icon="bars">menu</span>
      <span class="material-icons text-white d-none" data-icon="times">close</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngFor="let link of navLinks">
          <a class="nav-link text-light" [href]="link.url">{{ link.label }}</a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <div class="flex bg-secondary3 text-light rounded-20 d-flex justify-content-center align-items-center"
          style="width: 80px; height: 30px;">
          <span class="nav-link" [class.fw-bold]="currentLang === 'en'" style="cursor:pointer"
            (click)="changeLang('en')">EN</span> |
          <span class="nav-link" [class.fw-bold]="currentLang === 'ar'" style="cursor:pointer"
            (click)="changeLang('ar')">AR</span>
        </div>
        <a href="/cart" class="text-white"><span
            class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center position-relative"
            style="width: 40px; height: 40px;">
            <i class="bi bi-cart"></i>
            <span
              class="position-absolute cart-count bg-secondary d-flex align-items-center justify-content-center rounded-pill text-dark fw-600">{{
              getTotalItemCount() }}</span>
          </span>
        </a>
        <a [href]="(isLoggedIn$ | async) ? '/profile' : '/login'" class="text-white" (mouseenter)="checkLoginStatus()">
          <span class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center"
            style="width: 40px; height: 40px;">
            <i class="bi" [ngClass]="{ 'bi-person-fill': (isLoggedIn$ | async), 'bi-person': !(isLoggedIn$ | async) }"></i>
          </span>
        </a>
        <span class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px;">
          <i class="bi bi-search"></i>
        </span>
        <span class="btn bg-purple text-light rounded-pill d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px;" (click)="toggleTheme()">
          <i class="bi" [ngClass]="{ 'bi-moon': isDarkMode, 'bi-brightness-high': !isDarkMode }"></i>
        </span>
      </div>
    </div>
  </div>
</nav>