.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.bg-purple {
  background-color: #8154A266;
}
.bg-purple:hover {
  background-color: none;
}
.navbar-toggler .material-icons {
  color: #ffffff !important;
  font-size: 1.5rem;
}