footer {
    .social-icon {
        background-color: #8154A266;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-list {
        li {
            i {
                font-size: 10px;
            }

            line-height: 38px !important;
            display: flex;
            align-items: center;
        }
    }

    .footer-title {
        .gradient-line {
            width: 40px !important;
            height: 3px !important;
            bottom: -10px;
        }

        border-radius: 5px;
    }
}

.text-footer {
    color: #B5B5B5;

    i {
        color: #FFC107;
        background-color: var(--Semantic-yellow-2, rgba(247, 144, 9, 0.2));
        border-radius: 100%;
        width: 30px !important;
        height: 30px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px !important;
    }
}

form {
    input {
        padding: 14px 10px;
        font-size: 16px;

        &::placeholder {
            color: #b5b5b5;
            opacity: 1;
        }

        &:focus {
            border-color: #b5b5b5;
            box-shadow: none;
            outline: none;
        }
    }

    button {
        padding: 14px 10px;
    }
}