<footer class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid p-4">
    <div class="row gy-5 w-100">
      <!-- Logo & Social -->
      <div class="col-12 col-md-6 col-lg-6 col-xl-3 d-flex flex-column align-items-start pe-lg-5">
        <img src="../../assets/jumanji-logo.png" alt="Jumanji Board Game" class="position-relative">
        <span
          style="width: 80px; height: 80px; position: absolute; border: 2px solid #ffc8132c; border-radius: 100%; top: 10px;"></span>
        <p class="mt-4 mb-2 text-light fs-6">
          {{ footerDescription }}
        </p>
        <div class="d-flex gap-3 mt-2">
          <a href="#" class="social-icon text-light fs-6"><i class="bi bi-instagram"></i></a>
          <a href="#" class="social-icon text-light fs-6"><i class="bi bi-tiktok"></i></a>
          <a href="#" class="social-icon text-light fs-6"><i class="bi bi-youtube"></i></a>
          <a href="#" class="social-icon text-light fs-6"><i class="bi bi-facebook"></i></a>
        </div>
      </div>
      <!-- Quick Links -->
      <div class="col-12 col-md-6 col-lg-6 col-xl-3 footer-title">
        <h6 class="fw-bold text-secondary mb-3 d-flex align-items-center gap-2 position-relative">
          <span class="material-symbols-outlined">videogame_asset</span>
          {{ quickLinksTitle }}
          <span class="gradient-line position-absolute"></span>
        </h6>
        <ul class="list-unstyled menu-list mb-0 p-0">
          <li *ngFor="let link of footerLinks">
            <a [routerLink]="link.url" class="text-light text-decoration-none">
              <i class="bi bi-chevron-right"></i> {{ link.label }}
            </a>
          </li>
        </ul>
      </div>
      <!-- Contact & Location -->
      <div class="col-12 col-md-6 col-lg-6 col-xl-3 footer-title">
        <h6 class="fw-bold text-secondary mb-4 d-flex align-items-center gap-2 position-relative"><i
            class="bi bi-geo-alt"></i> {{ contactTitle }} <span class="gradient-line position-absolute"></span></h6>
        <div class="d-flex flex-column gap-3">
          <div class="d-flex gap-2 text-footer">
            <i class="bi bi-geo-alt mt-1" style="color: #ffc813; font-size: 1.3rem;"></i>
            <span>{{ contactInfo.addressLine1 }}<br>{{ contactInfo.addressLine2 }}</span>
          </div>
          <div class="d-flex align-items-center gap-2 text-footer">
            <i class="bi bi-telephone" style="color: #ffc813; font-size: 1.3rem;"></i>
              <span>{{ contactInfo.phone }}</span>
            </div>
          <div class="d-flex align-items-center gap-2 text-footer">
            <i class="bi bi-envelope" style="color: #ffc813; font-size: 1.3rem;"></i>
            <span>{{ contactInfo.email }}</span>
          </div>
          <a href="#"
            class="btn bg-semantic fs-6 text-secondary btn-lg mt-2 d-flex align-items-center gap-3 rounded-pill px-4"
            style="width: fit-content;">
            <i class="bi bi-sign-turn-right"></i>
            <span class="fw-bold">{{ contactInfo.directionsBtn }}</span>
          </a>
        </div>
      </div>
      <!-- Adventure Updates -->
      <div class="col-12 col-md-6 col-lg-6 col-xl-3 footer-title">
        <h6 class="fw-bold text-secondary mb-4 d-flex align-items-center gap-2 position-relative"><i
            class="bi bi-bell"></i> {{ adventureTitle }} <span class="gradient-line position-absolute"></span></h6>
        <p class="mb-3 text-footer">{{ adventureText }}</p>
        <form class="d-flex flex-column gap-3">
          <input type="email" class="form-control bg-dark text-footer border border-1"
            [placeholder]="emailPlaceholder">
          <button type="submit"
            class="btn gradient-bg text-white fw-bold d-flex gap-2 align-items-center justify-content-center"><i
              class="bi bi-send"></i>{{ subscribeBtn }}</button>
        </form>
      </div>
    </div>
  </div>
</footer>