.custom-width{
  max-width: 1680px;
  width: 100%;
  padding: 0px 20px;
}

.board-game-store {
  display: flex;
  gap: 20px;

  .game-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .game-item {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      width: calc(33.333% - 10px);
      box-sizing: border-box;
    }
  }
}

.results-count {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0;
  
  .btn-link {
    color: var(--bs-primary);
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.filter-summary {
  font-size: 0.9rem;
  color: #666;
  display: flex;
  align-items: center;
  
  .btn-link {
    padding: 0;
    color: var(--bs-primary);
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}