.location-card-container {
  padding: 40px 30px
}

.title {
  font-size: 28px;

  @media screen and (max-width: 992px) {
    font-size: 24px;
  }
}
.location-card-icon {
    width: 60px;
    height: 60px;
      @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

.location-card-content {
  .hours-row{
    border-radius: 12px;
    border: 1px solid #8154A266;
  }
    i {
        width: 40px;
        height: 40px;
    }
}

.location-card-map {
    iframe {
        border: 2px solid #b5b5b5;
        border-radius: 12px;
        pointer-events: none;
    }

    button {
        bottom: 10px;
        right: 13px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
    }
}
.notes-section{
  border-radius: 12px;
  .notes-card-icon {
      width: 35px;
      height: 35px;
      font-size: 20px;
  }
}
