<div class="customer-tag-container d-inline-flex flex-md-row flex-column justify-content-center w-auto p-4 border rounded-20">
    <div class="customer-images d-flex align-items-center justify-content-center mb-2 mb-md-0 me-md-4">
        <ng-container *ngFor="let img of customerImages">
            <img [src]="img" class="customer-img" alt="Customer" />
        </ng-container>
    </div>
    <div class="customer-info d-flex flex-column flex-md-row align-items-center gap-2 gap-md-3">
        <span class="customer-count fw-bold text-white">{{ customerCount | number }}+ {{text1}}</span>
        <span class="divider text-white fw-bold mx-3 d-none d-md-inline">|</span>
        <span class="stars d-flex align-items-center gap-1 mt-2 mt-md-0">
            <ng-container *ngFor="let star of stars">
                <ng-container [ngSwitch]="star">
                    <i *ngSwitchCase="'full'" class="bi bi-star-fill star full"></i>
                    <i *ngSwitchCase="'half'" class="bi bi-star-half star half"></i>
                    <i *ngSwitchCase="'empty'" class="bi bi-star star empty"></i>
                </ng-container>
            </ng-container>
            <span class="rating-value text-white ms-1">{{ rating }} {{text2}}</span>
        </span>
    </div>
</div>