$bg-color: #ededed;
$border: #D6D6D6;

.sidebar {
    min-width: 240px;
    width: fit-content;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.user-info .avatar {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    padding: 10px 16px;
    border-radius: 8px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
}

.profile-content {
    .reward-cards {
        background: $bg-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }
}

.order-card {
    background-color: $bg-color;
    border: 1px solid $border;
    .badge{
        &.bg-orange{
            font-size: 12px !important;
            padding: 2px 10px !important;
        }
    }
}
.event-card{
    background-color: $bg-color;
    border: 1px solid $border;
}