<div class="sidebar-filters bg-white h-100 p-3 rounded-20 shadow-sm">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Filters</h4>
    <!-- Add a Clear All button -->
    <button *ngIf="hasActiveFilters()" 
            class="text-primary btn fw-600" 
            (click)="clearAllFilters()">
      Clear All
    </button>
  </div>
  
  <div class="d-flex flex-column gap-3">
    <div *ngFor="let filter of filters" class="filter-category">
      <p class="fw-600 mb-2">
        <i *ngIf="filter.icon" [class]="filter.icon + ' me-2'"></i>
        {{ filter.label }}
      </p>

    <div class="filter-options d-flex flex-wrap gap-2">
      <div *ngFor="let option of filter.options" 
           class="filter-option px-2 py-1 bg-primary2 d-flex align-items-center gap-1"
           [class.active]="isFilterActive(filter.label, option.value)"
           [class.bg-primary]="isFilterActive(filter.label, option.value)"
           [class.text-white]="isFilterActive(filter.label, option.value)"
           (click)="onFilterSelect(filter.label, option.value)">
        <i *ngIf="option.icon" [class]="option.icon" style="font-size: 12px;"></i>
        {{ option.label || option.value }}
      </div>
    </div>
  </div>
</div>