<div class=" my-5 py-0 py-lg-3 my-cart custom-container-width">
    <app-heading-section iconLeft="bi-cart4" iconLeftType="bootstrap" iconLeftColor="bg-primary2" iconRight=""
        iconRightType="material" iconRightColor="bg-primary2" title="{{myCart.heading.title}}" highlight="{{myCart.heading.highlight}}"
        highlightColor="gradient-text"
        subtitle="{{myCart.heading.subtitle}}">
    </app-heading-section>
    <div *ngIf="cartItems.length === 0" class="empty-cart text-center">
        <h4 class="text-primary">{{myCart.noItem.title}}</h4>
        <p>{{myCart.noItem.text}}</p>
    </div>
    <div class="gap-4 d-flex flex-lg-row mt-3 flex-column align-items-start">
        <div *ngIf="cartItems.length > 0" class="cart-items bg-white p-4 rounded-20 shadow-sm flex-grow-1 w-100">
            <h4 class="cart-title d-flex align-items-center gap-2">
                <i class="bi bi-cart4 text-primary"></i>
                {{myCart.cartItem.title}} ({{ getTotalItemCount() }})
            </h4>
            <div *ngFor="let item of cartItems; let i = index"
                class="cart-item d-flex flex-md-row flex-column justify-content-between align-items-center mb-3">
                <div class="cart-item-details d-flex align-items-center gap-3 justify-content-between justify-content-md-flex-start">
                    <img [src]="item.imageSrc" alt="{{ item.title }}">
                    <div>
                        <span class="fw-600">{{ getItemDetails(item.id)?.title }}</span>
                        <p class="mb-0 fw-600 text-primary">{{ item.price }}</p>
                    </div>
                </div>
                <div class="item-details d-flex align-items-center gap-3 justify-content-md-flex-start justify-content-between">
                    <div class="quantity-controls bg-white shadow-sm d-flex align-items-center gap-3 px-3 py-2">
                        <button (click)="updateQuantity(i, -1)" class="rounded-pill bg-primary5"><i
                                class="bi bi-dash"></i></button>
                        <span class="fw-600">{{ item.quantity }}</span>
                        <button (click)="updateQuantity(i, 1)" class="rounded-pill bg-primary5"><i
                                class="bi bi-plus"></i></button>
                    </div>
                    <button class="remove-item bg-danger-subtle text-danger rounded-pill" (click)="removeItem(i)"><i
                            class="bi bi-trash3-fill"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div *ngIf="cartItems.length > 0"
                class="order-summary bg-white p-4 rounded-20 shadow-sm ">
                <h4><i class="bi bi-journal-text text-primary"></i> {{myCart.orderSummary.title}}</h4>
                <div class="d-flex flex-column orders border-bottom border-2 mb-3 pb-3 gap-2 border-muted">
                    <p class="d-flex justify-content-between w-100"><span>{{myCart.orderSummary.subtotal}} ({{ getTotalItemCount() }}):</span>
                        <span>{{ subtotal }} SAR</span>
                    </p>
                    <p class="d-flex justify-content-between w-100"><span>{{myCart.orderSummary.tax}} (15%):</span> <span>{{ vat }} SAR</span>
                    </p>
                </div>
                <p class="d-flex justify-content-between w-100 fw-600"><span>{{myCart.orderSummary.total}}:</span> <span class="text-primary">{{
                        total }} SAR</span></p>
                <div class="bg-primary5 d-flex align-items-center gap-3 p-3 rounded-20 my-3">
                    <i class="bi bi-clock text-d"></i>
                    <div class="d-flex flex-column">
                        <p class="mb-0 text-d">{{myCart.orderSummary.durationText}}</p>
                        <p class="fw-600 mb-0 text-primary">{{myCart.orderSummary.durationValue}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column gap-3 w-100 checkout-buttons">
                    <app-primary-button iconLeft="bi-arrow-right" [routerLink]="'/checkout'" 
                        [text]="myCart.orderSummary.gradientBtn">
                    </app-primary-button>
                    <app-ghost-button iconLeft="bi-shop-window" [routerLink]="'/board-game-store'"
                        [text]="myCart.orderSummary.ghostBtn1">
                    </app-ghost-button>
                    <app-ghost-button iconLeft="bi-fork-knife" [routerLink]="'/cafe-menu'" [text]="myCart.orderSummary.ghostBtn2">
                    </app-ghost-button>
                </div>
            </div>
            <div *ngIf="total >= bonusThreshold"
                class="bonus-message gradient-bg text-white p-4 rounded-20 mt-4 d-flex flex-column gap-3">
                <h5 class="fw-bold mb-2 gap-2 d-flex"><i class="bi bi-gift"></i>Adventure Bonus!</h5>
                <p class="mb-1">Spend {{ bonusThreshold }} SAR or more and get a FREE game rental for your next visit!
                </p>
                <p class="mb-0"><span class="fw-600">Current total: {{ total }} SAR </span> <i class="bi bi-tags"></i>
                    You've unlocked the bonus!</p>
            </div>
        </div>
    </div>
</div>