.cart-items {
    img {
        width: 100px;
        border-radius: 12px;
    }
}

.quantity-controls {
    border-radius: 12px;

    button {
        outline: none;
        border: none;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.remove-item {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-details,
.cart-item-details {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: fit-content;
    }
}
.cart-item{
    gap: 20px 0px;
}