<div class="custom-spacing hero">
    <div class="background-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 custom-col-width">
                <div class="hero-section-wrapper">
                    <app-hero-section [titleParts]="[
                            { text: 'Welcome to ', class: '' },
                            { text: 'Jumanji ', class: 'text-primary' },
                            { text: 'Café', class: 'text-secondary' }
                        ]" [subtitleParts]="[
                            { text: 'Experience the ultimate board game café adventure in the heart of ', class: '' },
                            { text: 'Jeddah ', class: 'text-primary' },
                            { text: ' . Where games come to life and memories are made! ', class: '' }
                        ]">
                    </app-hero-section>
                    <div class="row hero-buttons justify-content-center align-items-center gap-4 flex-wrap mt-5">
                        <div class="col-auto">
                            <app-primary-button iconLeft="bi-fork-knife">
                                Explore Our Menu
                            </app-primary-button>
                        </div>

                        <div class="col-auto">
                            <app-ghost-button iconLeft="videogame_asset">
                                Browse Games
                            </app-ghost-button>
                        </div>
                    </div>
                    <div class="row mt-5 g-4 d-flex align-items-stretch justify-content-center">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let stat of heroStats">
                            <app-stat-card [iconType]="stat.iconType" [icon]="stat.icon" [title]="stat.title"
                                [text]="stat.text" [borderColor]="stat.borderColor" [iconBgColor]="stat.iconBgColor"
                                [titleColor]="stat.titleColor" [cardBgColor]="stat.cardBgColor">
                            </app-stat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Story Section -->
<div class="story-section container my-5 mb-0">
    <div class="row justify-content-center">
        <div class="col-12">
            <app-story-section [imageSrc]="'/assets/sec2-img.jpg'" [textOverImage1]="'Best Experience'"
                [textOverImage1BgColor]="'gradient-bg'" [textOverImage1Color]="'text-white'"
                [icon1]="'favorite'" [titleicon]="'sports_esports'" [iconType]="'material'"
                [titleParts]="['About ', 'Jumanji']" [description]="[
                    'At Jumanji Café, we believe that the best adventures happen when people come together. Our mission is to create unforgettable experiences through the magic of board games, exceptional coffee, and genuine connections.',
                    'Whether you\'re a seasoned gamer or just discovering the joy of tabletop adventures, our welcoming space in the heart of Jeddah is designed to bring out the child in everyone. Every game tells a story, and every visit creates memories that last a lifetime.'
                ]" [stats]="storyStats" [buttons]="[{ iconRight: 'bi bi-arrow-right', text: 'Read Our Story' }]">

            </app-story-section>
        </div>
    </div>
</div>

<!-- Featured Games Section -->
<div class="container mb-5">
    <app-heading-section iconLeft="slideshow" iconLeftType="material" iconLeftColor="bg-primary2" title="🎥 Step Inside"
        highlight="Jumanji" highlightColor="gradient-text"
        subtitle="Take a sneak peek into our world. Explore the café in 360° before your next visit and discover all the magical corners where adventures begin! ✨">
    </app-heading-section>
    <app-image-360-viewer [imageSrc]="'/assets/360-img.jpg'" badgeLeft="360° Experience" badgeRight="3 min tour">
    </app-image-360-viewer>
</div>

<!-- Cafe Menu Section -->
<div class="container my-5 ">
    <app-heading-section iconLeft="restaurant" iconLeftType="material" iconLeftColor="bg-secondary2"
        iconRight="free_breakfast" iconRightType="material" iconRightColor="bg-primary2" title="Cafe" highlight="Menu"
        highlightColor="gradient-text"
        subtitle="Fuel your adventures with our specially crafted drinks and delicious treats, designed to keep you energized through epic gaming sessions! ☕">
    </app-heading-section>
    <div class="row justify-content-center">
        <app-slider [items]="cafeMenu" [visibleCount]="sliderVisibleCount">
            <ng-template #itemTemplate let-game>
                <div class="col-12 col-sm-6 col-lg-4 pb-4">
                    <app-showcase-card [imageSrc]="game.imageSrc" [category]="game.category"
                        [categoryColor]="game.categoryColor" [title]="game.title" [price]="game.price ?? ''"
                        [priceColor]="game.priceColor ?? ''" [subtitle]="game.subtitle" [players]="game.players"
                        [duration]="game.duration" [playersClass]="game.playersClass ?? ''"
                        [durationClass]="game.durationClass ?? ''" [tags]="game.tags" [tagColor]="game.tagColor"
                        [gameCategory]="game.gameCategory" [buttonText]="game.buttonText"
                        [buttonColor]="game.buttonColor" [showDetailIcon]="game.showDetailIcon"
                        [detailIcon]="game.detailIcon" [showOverlay]="false">
                    </app-showcase-card>
                </div>
            </ng-template>
        </app-slider>
        <app-primary-button iconLeft="bi-fork-knife" iconRight="bi bi-arrow-right"
            class="d-flex justify-content-center mt-2">
            View Full Menu
        </app-primary-button>
    </div>
</div>

<!-- Featured Games Section -->
<div class="container my-5 ">
    <app-heading-section iconLeft="sports_esports" iconLeftType="material" iconLeftColor="bg-primary2"
        iconRight="emoji_events" iconRightType="material" iconRightColor="bg-secondary2" title="Featured"
        highlight="Games" highlightColor="gradient-text"
        subtitle="Discover our handpicked collection of the most exciting board games. From quick party games to strategic adventures! 🎯">
    </app-heading-section>

    <!-- Add filter tab here -->
    <app-filter-tab [data]="featuredGames" [config]="gameFilterConfig"
        (filteredDataChange)="onGamesFilteredDataChange($event)">
    </app-filter-tab>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4 pb-4" *ngFor="let game of filteredGames">
            <app-showcase-card [imageSrc]="game.imageSrc" [category]="game.category"
                [categoryColor]="game.categoryColor" [title]="game.title" [starCount]="game.starCount ?? 0"
                [starColor]="game.starColor ?? ''" [subtitle]="game.subtitle" [players]="game.players"
                [duration]="game.duration" [playersClass]="game.playersClass ?? ''"
                [durationClass]="game.durationClass ?? ''" [tags]="game.tags" [tagColor]="game.tagColor"
                [gameCategory]="game.gameCategory" [buttonText]="game.buttonText" [buttonColor]="game.buttonColor"
                [showDetailIcon]="game.showDetailIcon" [detailIcon]="game.detailIcon"
                [showOverlay]="false"></app-showcase-card>
        </div>
        <app-primary-button iconLeft="sports_esports" iconRight="bi bi-arrow-right"
            class="d-flex justify-content-center mt-3">
            View Game Store
        </app-primary-button>
    </div>
</div>

<!-- Upcoming Event Section -->
<div class="container my-5 ">
    <app-heading-section iconLeft="sports_esports" iconLeftType="material" iconLeftColor="bg-secondary2"
        iconRight="emoji_events" iconRightType="material" iconRightColor="bg-primary2" title="Upcoming"
        highlight="Events" highlightColor="gradient-text"
        subtitle="Join our exciting events and connect with fellow gamers. From tournaments to family days, there's always something magical happening! 🎉">
    </app-heading-section>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4 pb-4" *ngFor="let event of upcomingEvents">
            <app-showcase-card [imageSrc]="event.imageSrc" [category]="event.category"
                [categoryColor]="event.categoryColor" [badgeRight]="event.badgeRight ?? ''"
                [badgeRightColor]="event.badgeRightColor ?? ''" [eventDate]="event.eventDate ?? ''"
                [eventTime]="event.eventTime ?? ''" [title]="event.title" [subtitle]="event.subtitle"
                [attending]="event.attending" [capacity]="event.capacity" [buttonText]="event.buttonText"
                [buttonColor]="event.buttonColor" [showDetailIcon]="event.showDetailIcon"
                [detailIcon]="event.detailIcon" [showOverlay]="true">
            </app-showcase-card>
        </div>
        <app-primary-button iconLeft="bi bi-calendar4-week" iconRight="bi bi-arrow-right"
            class="d-flex justify-content-center mt-3">
            See All Event
        </app-primary-button>
    </div>
</div>

<!-- Business Services -->
<div class="container my-5 ">
    <app-heading-section iconLeft="corporate_fare" iconLeftType="material" iconLeftColor="bg-primary2"
        iconRight="card_travel" iconRightType="material" iconRightColor="bg-secondary2" title="Business"
        highlight="Services" highlightColor="gradient-text"
        subtitle="Transform your corporate events with our professional B2B services. From team building to full event hosting, we create memorable experiences that strengthen teams and celebrate success! 🏢">
    </app-heading-section>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-3 pb-4" *ngFor="let service of businessServices">
            <app-showcase-card [imageSrc]="service.imageSrc" [category]="service.category"
                [categoryColor]="service.categoryColor" [categoryIcon]="service.categoryIcon"
                [badgeRight]="service.badgeRight ?? ''" [badgeRightColor]="service.badgeRightColor ?? ''"
                [eventDate]="service.eventDate ?? ''" [eventTime]="service.eventTime ?? ''" [title]="service.title"
                [subtitle]="service.subtitle" [attending]="service.attending" [capacity]="service.capacity"
                [buttonText]="service.buttonText" [buttonColor]="service.buttonColor"
                [showDetailIcon]="service.showDetailIcon" [detailIcon]="service.detailIcon"
                [listItems]="service.listItems ?? []" [showOverlay]="true">
            </app-showcase-card>
        </div>
    </div>
</div>

<!-- CTA Section -->
<div class="container my-5 pb-5">
    <app-cta-section icon="" titleStart="Ready to Elevate Your" titleHighlight="Team Experience?"
        description="Let's discuss how our professional services can create unforgettable experiences for your team. Contact us for a customized proposal tailored to your needs.">
        <app-primary-button primaryButton iconLeft="card_travel" iconRight="bi bi-arrow-right"
            class="d-flex justify-content-center mt-2">
            Explore B2B Services
        </app-primary-button>
        <app-ghost-button ghostButton iconLeft="call" class="d-flex justify-content-center mt-2">
            Get Quote
        </app-ghost-button>
    </app-cta-section>
</div>

<!-- Choose Your Adventure -->
<app-decorative-background gradientClass="gradient-primary" [shapes]="[
    { top: '10%', left: '5%', width: '100px', height: '100px', color: 'transparent', border: '2px solid rgba(255, 255, 255, 0.1)', rotate: '45deg', borderRadius: '4px'},
    { top: '5%', right: '2%', width: '50px', height: '50px', color: '#ffffff', opacity: '0.1', rotate: '0deg', borderRadius: '100%'},
    { top: '50%', left: '10%', width: '50px', height: '50px', color: '#ffffff', opacity: '0.1', rotate: '0deg', borderRadius: '100%'},
    { bottom: '5%', left: '40%', width: '50px', height: '50px', color: '#ffffff', opacity: '0.1', rotate: '70deg'},
    { bottom: '20%', right: '15%', width: '120px', height: '120px', color: 'transparent', border: '2px solid rgba(255, 255, 255, 0.07)', borderRadius: '100%'}
  ]">
    <div class="row justify-content-center">
        <div class="col-12 custom-col-width">
            <div class="text-center py-5">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 d-none d-sm-block">
                        <h2 class="text-white" style="text-align: left;">Choose Your</h2>
                        <h2 style="text-align: right; color: #FFE07A;">Adventure!</h2>
                    </div>
                    <h2 class="d-block d-sm-none" style="text-align: center; color: #FFE07A;">Choose Your Adventure!
                    </h2>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-lg-9">
                        <p class="text-white fs-24 mb-4">Let fate decide your next gaming experience. Click the magic
                            dice and
                            discover something amazing!</p>
                    </div>
                </div>
                <div class="div d-flex justify-content-center mt-3">
                    <span class="vector-icon bg-white rounded-pill text-center shadow-lg">
                        <img src="../../../assets/Vector-dice.png" alt="">
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row mt-4 g-4 d-flex d-flex align-items-stretch justify-content-center">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let stat of AdventureStats">
                            <app-stat-card [iconType]="stat.iconType" [icon]="stat.icon" [title]="stat.title"
                                [text]="stat.text" [borderColor]="stat.borderColor" [iconBgColor]="stat.iconBgColor"
                                [titleColor]="stat.titleColor" [cardBgColor]="stat.cardBgColor"
                                [textColor]="stat.textColor" [subtitleColor]="stat.subtitleColor"
                                [subtitle]="stat.subtitle">
                            </app-stat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-decorative-background>

<!-- Ready to Play -->
<div class="container my-5">
    <div class="row justify-content-center pt-4">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 d-none d-sm-block">
            <h2 class="text-start">Ready to</h2>
            <h2 class="text-end"><span class="gradient-text">Play, Laugh</span></h2>
            <h2 class="text-start ps-5">and <span class="gradient-text">Connect?</span></h2>
        </div>
        <div class="d-block d-sm-none text-center">
            <h2>Ready to <span class="gradient-text">Play, Laugh and Connect?</span></h2>
        </div>
        <div class="decorative-element d-flex align-items-center justify-content-center py-4 my-2">
            <span class="line left"></span>
            <div class="d-flex  gap-2">
                <span class="dots bg-primary rounded-pill"></span>
                <span class="dots bg-secondary rounded-pill"></span>
                <span class="dots bg-primary rounded-pill"></span>
            </div>
            <span class="line right"></span>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10">
            <p class="text-center fs-24">Your next great adventure is just a click away. Join us at Jumanji Café where
                every game tells a story, every laugh creates a memory, and every visit brings new friendships!
                <span><img src="../../../assets/vector-dice-2.png" alt=""></span>
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div
            class="row d-flex hero-buttons justify-content-center align-items-center flex-wrap pt-2 flex-column flex-md-row gap-2 gap-md-0">
            <div class="col-auto">
                <app-primary-button iconLeft="bi-fork-knife">
                    Explore Our Menu
                </app-primary-button>
            </div>
            <div class="col-auto"><span class="fs-18 fw-600" style="color: #9CA3AF;">OR</span></div>
            <div class="col-auto">
                <app-ghost-button iconLeft="videogame_asset">
                    Browse Games
                </app-ghost-button>
            </div>
        </div>
        <div class="col-12 custom-col-width">
            <div class="row mt-5 g-4 d-flex align-items-stretch justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let stat of PlayStats">
                    <app-stat-card [iconType]="stat.iconType" [icon]="stat.icon" [title]="stat.title" [text]="stat.text"
                        [borderColor]="stat.borderColor" [iconBgColor]="stat.iconBgColor" [titleicon]="stat.titleicon"
                        [titleColor]="stat.titleColor" [cardBgColor]="stat.cardBgColor" [subtitle]="stat.subtitle"
                        [subtitleColor]="stat.subtitleColor">
                    </app-stat-card>
                </div>
            </div>
        </div>
        <div class="col-12 pt-5 mt-2">
            <div class="text-center text-primary fw-600">"Life's too short for boring games!"</div>
            <div class="text-center text-color2 fw-600">"Come discover why Jumanji Café is Jeddah's favorite destination
                for board game adventures."</div>
            <div class="text-center text-secondary fw-600">Your table is waiting... 🪑✨</div>
        </div>
    </div>
</div>

<!-- Testimonial Section -->
<div class="container-fluid w-full py-5 angular-gradient-purple position-relative">
    <div class="testimonial-bg-overlay position-absolute top-0 start-0 w-100 h-100"></div>
    <div class="position-relative" style="z-index: 1;">
        <div class="row justify-content-center pt-3">
            <div class="col-12">
                <app-heading-section iconLeft="military_tech" iconLeftType="material" iconLeftColor="bg-primary2"
                    iconRight="military_tech" iconRightType="material" iconRightColor="bg-primary2" title=""
                    highlight="Top Players of Jumanji" highlightColor="gradient-text" subtitle="">
                </app-heading-section>
            </div>
            <div class="col-12 col-lg-5 pb-2" style="margin-top: -20px;">
                <p class="text-center text-white">Celebrate our legendary players! From tournament champions to puzzle
                    masters — see who's claimed the jungle crown.</p>
            </div>
        </div>
        <app-testimonial-slider />
        <div class="py-4">
        <app-primary-button primaryButton iconLeft="bi-trophy" iconRight="bi-arrow-right"
            class="d-flex justify-content-center mt-2">
            View Full Hall of Fame
        </app-primary-button>
        <p class="fw-600 text-white text-center py-3">Think you have what it takes? Join the competition! 🏆</p>
        </div>
    </div>
</div>
