.hero {
  background-image: url('/assets/background-image.jpg');
  z-index: 2;
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 1 !important;
}
.vector-icon{
  width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
