<div class="container-fluid w-full py-5 linear-gradient-purple position-relative">
  <div class="row justify-content-center">
    <div class="col-11 col-md-10 col-lg-10 col-xl-9">
      <app-heading-section
        iconLeft="support_agent"
        iconLeftType="material"
        iconLeftColor="bg-primary2"
        iconRight=""
        iconRightType="material"
        iconRightColor="bg-primary2"
        title=""
        [highlight]="contactTitle"
        highlightColor="gradient-text"
        subtitleColor="text-white"
        [subtitle]="contactSubtitle">
      </app-heading-section>
    </div>
    <div class="stat-row">
      <div class="row g-4 d-flex align-items-stretch justify-content-center">
        <div class="col-6 col-sm-5 col-md-4 col-lg-3" *ngFor="let stat of getHeroStats()">
          <app-stat-card [iconType]="stat?.iconType" [icon]="stat?.icon" [title]="stat?.title" [text]="stat?.text"
            [textColor]="stat?.textColor" [borderColor]="stat?.borderColor" [iconBgColor]="stat?.iconBgColor"
            [titleColor]="stat?.titleColor" [cardBgColor]="stat?.cardBgColor">
          </app-stat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- form section -->
<div class="forms container my-5">
  <div class="row py-5 align-items-stretch justify-content-end " style="gap:30px 0px;">
    <div class="col-12 col-lg-6">
      <app-contact-form
        [title]="contactForm.title"
        [highlight]="contactForm.highlight"
        [highlightColor]="'gradient-text'"
        [titleIcon]="'bi bi-envelope'"
        [titleIconClass]="'bg-primary2'"
        [fields]="mappedFields"
        [belowItems]="mappedBelowItems"
        [btnText]="contactForm.btnText"
      ></app-contact-form>
    </div>
    <div class="col-12 col-lg-6">
      <app-location-card
        [titleIcon]="'bi-geo-alt'"
        [titleIconClass]="'bg-primary2'"
        [title]="locationCard.title"
        [highlight]="locationCard.highlight"
        [subTitle]="locationCard.subTitle"
        [highlightColor]="'gradient-text'"
        [content]="mappedLocationFields"
        [btnText]="locationCard.btnText"
        [iframeSrc]="'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.491779886395!2d39.15329637600109!3d21.566718769083142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d075133f23b3%3A0x643f18959e4bbc0f!2sAl%20Kayal%2C%20Ar%20Rawdah%2C%20Jeddah%20Saudi%20Arabia!5e0!3m2!1sen!2sin!4v1756558267881!5m2!1sen!2sin'"
        [buttonLink]="'https://maps.app.goo.gl/yNNi4vyPuPwpYRqr6'">
      </app-location-card>
    </div>
    <div class="col-12 col-lg-6">
      <app-hours-card [titleIcon]="'bi-geo-alt'" [titleIconClass]="'bg-primary2'" [title]="HoursCard.title"
        [highlight]="HoursCard.highlight" [subTitle]="HoursCard.subtitle" [highlightColor]="'gradient-text'"
        [content]="mappedHoursFields"
        [iframeSrc]="'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.491779886395!2d39.15329637600109!3d21.566718769083142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d075133f23b3%3A0x643f18959e4bbc0f!2sAl%20Kayal%2C%20Ar%20Rawdah%2C%20Jeddah%20Saudi%20Arabia!5e0!3m2!1sen!2sin!4v1756558267881!5m2!1sen!2sin'"
        [buttonLink]="'https://maps.app.goo.gl/yNNi4vyPuPwpYRqr6'"
        [notesClass]="'bg-secondary5'"
        [notesIconClass]="'text-white bg-secondary'"
        [notesIcon]="'bi-exclamation-circle'"
        [notesTitle]="HoursCard.notesTitle"
        [notes]="mappedNotes"
      ></app-hours-card>
    </div>
  </div>
</div>
<!-- newsletter section -->
<div class="linear-gradient-purple w-full py-5 angular-gradient-purple position-relative">
  <div class="container w-full">
    <div class="row justify-content-center pt-5  position-relative" style="z-index: 1;">
      <div class="col-12">
        <app-heading-section iconLeft="bi-suit-heart" iconLeftType="bootstrap" iconLeftColor="bg-primary2" iconRight=""
          iconRightType="material" iconRightColor="bg-primary2" [title]="newsletter.title" [highlight]="newsletter.highlight"
          highlightColor="gradient-text" subtitleColor="text-white"
          [subtitle]="newsletter.subtitle">
        </app-heading-section>
      </div>
      <div class="row g-4 mt-0 d-flex align-items-stretch justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let stat of getAdventureStats()">
          <app-stat-card [iconType]="stat?.iconType" [icon]="stat?.icon" [title]="stat?.title" [text]="stat?.text"
            [borderColor]="stat?.borderColor" [iconBgColor]="stat?.iconBgColor" [titleColor]="stat?.titleColor"
            [cardBgColor]="stat?.cardBgColor" [textColor]="stat?.textColor">
          </app-stat-card>
        </div>
      </div>
    </div>
    <div class="row justify-content-center py-5 mt-2">
      <div class="col-12 col-lg-9">
        <app-newsletter [icon]="'bi-envelope-open-fill'" [iconColor]="'text-white gradient-bg'"
          [title]="subscribe.title" [titleColor]="'text-white'"
          [subtitle]="subscribe.subtitle"
          [subtitleColor]="'text-white2'" [fieldPlaceholder]="subscribe.fieldPlaceholder"
          [buttonIcon]="'bi-send-fill'" [buttonName]="subscribe.btnText" [belowItems]="newsletterBelowIcons"></app-newsletter>
      </div>
    </div>
  </div>
</div>