<div class="story-section container py-5">
  <div class="row align-items-start">
    <!-- Image Section -->
    <div class="col-12 col-lg-6 position-relative">
      <img [src]="imageSrc" class="img-fluid rounded-20 shadow" alt="Story Image" />

      <div *ngIf="textOverImage1"
        class="badge position-absolute right-text d-flex align-items-center justify-content-center gap-2 "
        [ngClass]="[textOverImage1BgColor, textOverImage1Color]">
        <i *ngIf="icon1 && iconType === 'material'" class="material-icons">{{ icon1 }}</i>
        <i *ngIf="icon1 && iconType === 'bootstrap'" [class]="icon1"></i>
        {{ textOverImage1 }}
      </div>
      
      <div *ngIf="textOverImage2"
        class="badge position-absolute left-text m-3 mt-5 d-flex align-items-center justify-content-center"
        [ngClass]="[textOverImage2BgColor, textOverImage2Color]">
        <i *ngIf="icon1 && iconType === 'material'" class="material-icons me-2" [ngStyle]="{ color: icon2Color }">{{
          icon2 }}</i>
        <i *ngIf="icon1 && iconType === 'bootstrap'" [class]="icon2" class="me-2" [ngStyle]="{ color: icon2Color }"></i>
        {{ textOverImage2 }}
      </div>
    </div>

    <!-- Content Section -->
    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
      <div class="d-flex align-items-center mb-5 story-title gap-3">
        <span *ngIf="titleicon"
          class="icon bg-primary2 text-primary d-flex justify-content-center align-items-center rounded-circle"
          style="width: 50px; height: 50px;">
          <i class="material-icons" *ngIf="iconType === 'material'">{{ titleicon }}</i>
          <i *ngIf="iconType === 'bootstrap'" [class]="titleicon"></i>
        </span>
        <h2 class="fw-600 m-0">
          <span class="sub-title-color">{{ titleParts[0] }}</span>
          <span class="gradient-text">{{ titleParts[1] }}</span>
          <span class="gradient-line" [ngStyle]="{'background-image': 'linear-gradient(' + gradientDir + ', #FFD700, #8B00FF)'}"></span>
        </h2>
      </div>

      <p class="text-color" *ngFor="let desc of description">{{ desc }}</p>
      <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-6" *ngFor="let stat of stats">
          <app-stat-card class="rounded-20" [iconType]="stat.iconType" [icon]="stat.icon" [title]="stat.title"
            [text]="stat.text" [borderColor]="stat.borderColor" [iconBgColor]="stat.iconBgColor"
            [titleColor]="stat.titleColor" [cardBgColor]="stat.cardBgColor">
          </app-stat-card>
        </div>
      </div>
      <div class="mt-4">
        <app-primary-button *ngFor="let button of buttons" [iconLeft]="button.iconLeft" [iconRight]="button.iconRight"
          class="me-2">
          {{ button.text }}
        </app-primary-button>
      </div>
    </div>
  </div>
</div>