.btn-ghost {
  padding: 16px 20px;
  font-weight: bold;
  cursor: pointer;
  min-width: 240px;
  gap:10px;

  &:focus,
  &:active {
    background: #fff;
    color: #8154A2;
    outline: none;
  }
  &.rounded-3{
    border-radius: 14px !important;
  }
}

.border-white-custom {
  border: 1px solid #fff !important;
}
