.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 96px;
    line-height: 106px;
    color: #000;
  }

  .hero-subtitle {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    font-weight: 500;
  }

  .hero-subtitle .text-primary,
  .hero-subtitle .text-secondary {
    font-weight: 600;
  }
}

.decorative-element .line {
  width: 100px;
  height: 4px;
  border-radius: 4px;
  margin: 0 10px;
}

.decorative-element .line.left {
  background: linear-gradient(to right, #8154a2, rgb(0 0 0 / 5%) 100%);
}

.decorative-element .line.right {
  background: linear-gradient(to left, #f6d02f, rgb(0 0 0 / 5%) 100%);
}

.decorative-element .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.decorative-element .icon i {
  font-size: 30px;
}
