.heading-section {
    .heading-icon {
        font-size: 25px;
        border-radius: 50%;
        padding: 12px;
        @media screen and (max-width: 768px) {
            font-size: 20px !important;
            padding: 8px;
        }
    }

    .heading-img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        background: #ececec;
    }

    .gradient-line {
        height: 6px;
        margin: 0 auto;
    }
}